@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

* {
    font-family: 'Nanum Gothic';
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

/*Web*/
@media(min-width: 768px){
    /*container*/
    .container{
        width: 100%;
        height: 100%;
        margin: 0;
    }

    /*navbar*/
    .navbar{
        position: fixed;
        z-index: 1;
        left: 0;
        width: 214px;
        height: 100%;
        margin: 0;
        padding: 0;
        background-size: cover;
    }

    #logo{
        margin: 0 auto;
        width: 169px;
        height: 56px;
        background-size: cover;
        padding: 0;
        margin-top: 15px;
    }

    .navbar .favorite{
        width: 100%;
        color: #FFF;
        height: 30px;
        margin-top: 50px;
        padding-left:25px;
        padding-right:25px;
    }

    .navbar .favorite:hover{
        background-color: #414042;
        border-left: solid 4px #f9cc70;
        opacity: 0.8;
    }

    .favorite .favorite_text{
        float: left;
        line-height: 30px;
        font-size: 18px;
    }

    .favorite .favorite_icon{
        float: right;
        margin-top: 7px;
        width: 16px;
        height: 15px;
        background-size:cover;
    }

    .navbar .city{
        width: 100%;
        height: 200px;
        color: #FFF;
        margin-top: 10px;
    }

    .navbar .city_text:hover{
        background-color: #414042;
        border-left: solid 4px #f9cc70;
        opacity: 0.8;
    }

    .city_text{
        width: 100%;
        padding-left: 25px;
        line-height: 30px;
        font-size: 18px;
    }
    .city li:hover{
        background-color: #414042;
        border-left: solid 4px #f9cc70;
        opacity: 0.8;
    }

    .city li{
        padding: 5px 0;
        font-size: 13px;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        background-size:cover;
    }

    .blue li{
        padding: 5px 0;
        font-size: 13px;
        width: 100%;
        padding-left: 40px;
        background-size:cover;
    }

    .puple li{
        padding: 5px 0;
        font-size: 13px;
        width: 100%;
        padding-left: 40px;
        background-size:cover;

    }

    .red li{
        padding: 5px 0;
        font-size: 13px;
        width: 100%;
        padding-left: 40px;
        background-size:cover;

    }


    /*content*/
    .content{
        padding-left: 214px;
        width: 100%;
        height: 100%;
    }

    .top{
        padding-left: 214px;
        width: 100%;
        height: 75px;
        background-color: #FFF;


    }

    .top input{
        float: left;
        position: relative;
        left: 5%;
        width: 289px;
        height: 41px;
        margin-top: 17px;
        border-radius: 10px;
        padding-left:40px;
        border-style: solid;
        background-size: cover;
    }

    .top .user_name{

    }

    .user_name li{
        display: none;
    }

    .top .welcome{
        position: relative;
        float: right;
        right: 5%;
        font-size: 12px;
        font-style: bold;
        height: 75px;
        line-height: 75px;
    }

    .welcome span{
        font-size: 14px;
    }

    .cards{

        width: 90%;
        height: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .cards .card{
        width: 30%;
        margin-right: 1.5%;
        margin-left: 1.5%;
        float: left;
        border-radius: 20px;
        border:solid 3px;
        border-color:#64d4f9;
        margin-bottom: 15px;

    }

    .card .card_image{
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px;
        background-size: cover;
        width: 100%;
        height: 135px;
    }

    .card .site{
        height: 29px;
        width: 29px;
        position: relative;
        float: right;
        right: 5%;
        top:-15px;
    }

    .card .comment{
        min-height: 50px;
        width: 100%;
        padding-left:10px;
        padding-right: 10px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .card .card_image:hover{
        opacity: 0.7;
    }

    .card .comment:hover{
        text-overflow:inherit;
        overflow: visible;

    }

    .card .info{

        margin-bottom: 5px;
        width: 100%;
        padding-left:10px;
        padding-right: 10px;
        border-bottom: solid 1px;
        padding-top:5px;
        padding-bottom: 5px;

    }

    .info span{
        font-size: 13px;
    }

    .card .icons{
        width: 100%;
        height: 43px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left:10px;
        padding-right: 10px;
    }

    .card .will{
        width: 50%;
        float: left;
    }

    .card .will_icon{
        width: 30px;
        float: left;
        height: 30px;
        margin-top: 4px;
        background-size: cover;
    }

    .card .will_text{
        line-height: 30px;
        font-size: 12px;
        float: left;
        margin-left: 8px;

    }

    .card .reply{
        width: 50%;
        float: right;
    }
    .card .reply_icon{
        width: 30px;
        float: left;
        height: 30px;
        margin-top: 4px;
        background-size: cover;
    }
    .card .reply_text{
        width: 50%;
        float: left;
        font-size: 12px;
        line-height: 30px;
        margin-left: 8px;
    }

    .card .icon_info{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left:5px;
        padding-left: 5px;
        font-size: 10px;
        color:#222;
        width: 100%;
        background-color: #FFF;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
    }

    #create_wrapper{
        width: 587px;
        margin: 0;
        padding: 0;
        height: 568px;
        background-color: #a5a7aa;
        opacity: 0.8;
        display: none;
    }

    #create_wrapper .location{
        width: 389px;
        margin: 0 auto;
    }

    .locartion input{
        width="16.333%";
    }

    #create_wrapper .time{
        width: 389px;
        margin: 0 auto;
    }


    #create_wrapper .create_title{
        width: 100px;
        margin: 0 auto;
        float: relative;
        color: #FFF;
        font-size: 12px;
        line-height: 60px;

    }

    #create_wrapper .get_image{
        width: 388px;
        height: 199px;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 5px;
    }

    .get_image .image_icon{
        margin: 0 auto;
        width: 75px;
        height: 75px;
        margin-top: 30px;
        margin-bottom: 20px;
        position: relative;

    }

    #create_wrapper .band_name{
        width: 388px;
        height: 41px;
        margin: 0 auto;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .band_name input{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        font-size: 12px;
        line-height: 41px;
        background: #f9cc70;
        opacity: 0.8;
    }

    #create_wrapper .coment{
        width: 388px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 5px;
        border-radius: 5px;
        opacity: 0.5;
    }

    .coment textarea{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        font-size: 12px;
    }
    #create_wrapper .submit{
        width: 388px;
        height: 41px;
        margin: 0 auto;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .submit input{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background: #f9cc70;
        font-style: bold;
        font-size: 15px;
        border-radius: 5px;
        color: #414042;
    }

    #create_wrapper .site{
        width: 388px;
        height: 41px;
        margin: 0 auto;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .site input{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        font-size: 12px;
        line-height: 41px;
        opacity: 0.5;
    }
}

/*Mobile*/
@media(max-width: 768px){
    /*container*/
    .container{
        width: 100%;
        height: 100%;
        margin: 0;
        background:#000000;
    }

    /*navbar*/
    .navbar{
        position: fixed;
        top:0;
        width: 100%;
        height: 100px;
        margin: 0;
    }

    .navbar .login_btn{
        right: 0;
        height: 100%;
        margin: 0;
        background:#F00;
    }

    /*login_form*/
    .login_form{
        display: none;
        width: 100px;
        height: 100px;
        background:#FF0;

    }
}