<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>
<script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/javascripts/Util.js"></script>
<script src="/javascripts/Main.js"></script>
</body>
</html>
