<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div>Test</div>

<script src="/javascripts/Main.js"></script>
</body>
</html>
