<!DOCTYPE html>
<head>

    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="/stylesheets/signin.css"/>
    <meta charset="UTF-8">
    <style type="text/css">
        .top {display:block; font-size: 108px; font-family:"Montserrat_Bold"; color:white;  text-align:center;}
        .middle{display:block; font-size: 12px; font-family:'NotoSansCJKKR-hinted/NotoSansCJKkr-Regular'; color:white;   text-align:center;}
        .mailinfo {font-family:"Montserrat_Bold";font-size :15pt; color:black; text-align:center;}
    </style>
    <title>Sign In</title>
</head>

<body>

<!-- 처음 Clip -->
<b class="top">
    <div style="text-align:center; margin-top: 160px">
        Clip
    </div>
    <div id="wrapper">
        <c class="middle">
            <div style="text-align:center; margin-top: 26px">
                <h3>관심 키워드로 콘텐츠를 받아보고 클립하세요</h3>
            </div>
        </c>
        <!-- 로그인 박스 -->
        <e class="mailinfo">

            <div id="login" class="form">
                <form name="loginform"  method="post" action="user/login">
                    <!-- 로그인 글씨 -->
                    <h1>Log in</h1>
                    <!-- 폼 -->
                    <input id="input_email" type="email" name="email" class="text"  placeholder="Email"><br>
                    <input id="pw" type="password" name="pw" placeholder="Password"><br>
                    <!-- 로그인 버튼 -->
                    <input id="signin_btn" type="image" name="Log in" src="/images/login_button.png">
                    <h2><input class="test" type="image" name="sign up" src="/images/password.png"></h2>
                    <button id="join"><a href="/signup" style="text-decoration:none; color: rgb(124,124,124);">
                            이메일로 가입하기</a></button>
                    <!--formation 질문  -->
                </form>
            </div>
        </e>
    </div>
</b>





<script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/util/HttpUtil.js"></script>
<script src="/javascripts/Login.js"></script>
</body>
</html>