<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/stylesheets/common.css"/>
  <link rel="stylesheet" href="/stylesheets/signup.css"/>

  <meta charset="UTF-8">

  <title>sign up</title>
</head>

<body>

<b id="top">Clip</b>
<div align="center" id="top2"> 관심 키워드로 콘텐츠를 받아보고 클립하세요</div>

<div align="center" class="centered">
  <form id="form"  name="signupform" method="post" action="../user/save">
    <div  align="center" id="signup">
    Sign up
    </div>

    <input type="text" name="name" class="text"  placeholder="Name" />
    <input type="email" name="email"class="text" placeholder="Email">
    <input type="password" name="pw" class="text"  placeholder="password">
    <input type="password" name="pw2" class="text" placeholder="Confirm Password" >
    <input type="image" class="image" name="signup" src="/images/signup_button2.png">


  </form>
</div>

</body>
</html>
