<!DOCTYPE html>
<html lang="en">

<head>
  <style type="text/css">

    @font-face {
      font-family:"Montserrat_Bold";
      src: url('/font/Montserrat_Bold.otf')format("truetype");
      font-style: normal;
      font-weight: normal;
    }
    @font-face {
      font-family:"Montserrat_SemiBold";
      src: url('/font/Montserrat_SemiBold.otf')format("truetype");
      font-style: normal;
      font-weight: normal;
    }

    @font-face {
      font-family:"Montserrat_Regular";
      src: url('/font/Montserrat_Regular.otf')format("truetype");
      font-style: normal;
      font-weight: normal;
    }


    @font-face {
      font-family:"NotoSansCJKkr_Regular";
      src: url('/font/NotoSansCJKkr_Regular.otf')format("truetype");
      font-style: normal;
      font-weight: normal;
    }

    @font-face {
      font-family:"Roboto_Light";
      src: url('/font/Roboto_Light.ttf')format("truetype");
      font-style: normal;
      font-weight: normal;
    }
    body {
      background-image: url('/images/clip_bg2.png');
      background-repeat:no-repeat;
      background-size:cover;
    }

    #top {
      margin-top:160px;
      display:block;
      font-size :108px;
      font-family:"Montserrat_Bold";
      color:white;
      text-align:center;
    }
    #top2 {
      position: relative;
      top:26px;
      font-size : 32px;
      font-family:"NotoSansCJKkr_Regular";
      color:white;
    }
    #form{
      position: relative;
      top:62px;
      height:391px;
      width:391px;
      background-color: white;
      border-radius: 5px;
    }

    #login{
      position: relative;
      top:44px;
      font-family:"Montserrat_SemiBold";
      font-size: 37.09px;
      color:rgb(80,100,250);
    }


    .text {
      width:262px;
      font-family:"Roboto_Light";
      font-size:14px;
      color:rgb(138,138,138);
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
    .text:focus {
      outline: none;
      border-color:rgb(80,100,250);
    }




    #signupbtn{
      font-family:"NotoSansCJKkr_Regular";
      font-size: 16px;
      color:rgb(124,124,124);
      background-color:rgb(245,245,245);
      width:391px;
      height: 48px;
      border-left-color: white;
      border-right-color: white;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;

    }

  </style>

  <meta charset="UTF-8">

  <title>test1</title>
</head>

<body>

<b id="top">Clip</b>
<center id="top2"> 관심 키워드로 콘텐츠를 받아보고 클립하세요</center>

<center>

  <form id="form"  name="loginform" method="post" action="http://localhost:3000/test2">
    <signup id="login"> Log in</signup><br><br><br><br><br>
    <input id="user_name_input" type="email" name="email"class="text" value="Email" placeholder="Email"><br><br><br>
    <input id="user_pw_input" type="password" name="password" class="text" value="Password" onclick="this.value='';"><br><br><br>
    <center><input type="image" name="signup" src="/images/login_button.png"></center>
    <input id="login_btn" type="image" name="signup" src="/images/password.png"><br><br><br>
    <button id="signupbtn">이메일로 가입하기</button><br><br><br>
  </form>
</center>
<script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/javascripts/U.js"></script>
<script src="/javascripts/Login.js"></script>
</body>
</html>
