<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="/stylesheets/signin.css"/>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>

<body>

<b id="top">Clip</b>
<div align="center"  id="top2"> 관심 키워드로 콘텐츠를 받아보고 클립하세요</div>

<div align="center" >
    <form id="form"  name="loginform" method="post" action="http://localhost:3000/test2">
        <div id="login"> Log in</div>
        <input type="email" name="email"class="text"  placeholder="Email">
        <input type="password" name="password" class="text" placeholder="Password">
        <div align="center" ><input class="image" type="image" name="signup" src="/images/login_button.png"></div>
        <input type="image" name="signup" src="/images/password.png">
        <button id="signupbtn">이메일로 가입하기</button>

    </form>
</div>
</body>
</html>
