<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        .top {display:block; font-size :30pt; color:black;  background-color:white ;  text-align:center; margin-top:300px}
    </style>

    <title>test</title>
</head>
<body>


<b class="top">
    <img src="/images/clip.png" ><br>
    <a href="http://localhost:3000/signin">
        <img src="/images/log.png" ></a>
    <br>
    <a href="http://localhost:3000/signup">
    <img src="/images/email.png" >
        </a>
</b>


</body>
</html>