<!DOCTYPE html>
<html lang="en">
<head>
<head>
  <style type="text/css">


    .top {display:block; font-size :30pt; font-family:"Times New Roman"; color:black; margin-top:300px background-color:white ;  text-align:center;}
    .mailinfo {font-family:"Times New Roman";font-size :15pt; margin-top:300px}

  </style>


  <meta charset="UTF-8">
  <title>test1</title>
</head>
<body>
<b class="top">
  <a href="http://localhost:3000">
    <img src="/images/clip.png" ><br></a>


  <form name="loginform" method="post" action="http://localhost:3000/test">

    <c class="mailinfo"> Email  </c><input type="email" name="email" ><br>
    <c class="mailinfo"> Password  </c><input type="password" name="password"><br>

    <button type="submit">login</button>

  </form>
</b>

</body>
</html>